

#splash {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../images/splash.png);
	z-index: 0;
}

.col-md-12{
	height: 800px;
	width: 100%;
}
.col-md-4{
	height: 300px;
	width: 33.33%;
}

#chars {
	display: inline-flex;
	list-style-type: none;
	z-index: 2;
	position: relative;
}

.char {
	display: none;
	padding: 15px;
}

#banner-image {
	position: absolute;
	height: 800px;
	width: 100%;
	background-image: url(../images/farfar.png);
	margin: auto;
	background-repeat: no-repeat;
	z-index: 2;
}

#char-stat {
	display: none;
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 2;
}

#attack-row {
	height: 500px;
	z-index: 2;
}

#attack-btn {
	display: none;
	position: relative;
}

#counter-btn {
	display: none;
	position: relative;
}



#enemies {
	display: inline-flex;
	list-style-type: none;
	position: relative;
	z-index: 2;
}

.enemy {
	display: none;
	padding: 15px;
}

#enemy-stat {
	display: none;
	position: fixed;
	top: 100px;
	right: 15px;
	z-index: 2;
}